/*Declaración de variables para todo el html*/
:root {
  --primary-color: #389891e2;
  --background: hsl(169, 33%, 94%);
  --text-color: #333;
  --font-base: 'Montserrat', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-size-base: clamp(0.9rem, 1.5vw, 2rem);
  --font-size-title: clamp(1.5rem, 3vw, 3rem);
  --line-height-base: 1.6;
  --error-color:red;
}
/* Elementos dentro del HTML*/
html, body{
    background-color: var(--background);
    font-size: var(--font-size-base);
    font-family: var(--font-base);
    height: 100vh;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: var(--font-size-title);
    border-bottom: solid 0.1rem gainsboro;
    text-align: center;
    padding: 1rem;
    width: 100%;
}
.form-container{
    border-radius: 6px;
    background-color: white;
    max-width: 70vw;
    min-width: 15vw;
    padding: 1rem 3rem;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;           
  margin-bottom: 3.3rem; 
  border-radius: 6px;
  max-width: 650px; 
  font-weight: lighter;
}
.check-rules, .button{
    margin: 1.625rem;
    margin-left: 0rem;
    
}
.button{
    margin-top: 2rem;
    text-align: center;
}
.button button{
    padding: 0.75rem 4rem;
    margin: 2rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: white;
}
label{
    font-weight: bolder;
    color: var(--primary-color);
}
input, select {
  border: none; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 0.6rem;
  border-radius: 4px;
  font-size: 1rem;
  outline: none; 
  color:rgb(144, 144, 149);
}
input::placeholder, textarea::placeholder{
  color:rgb(226, 226, 232);
  font-weight: lighter;
  font-style: italic;
}
input:focus, select:focus {
  box-shadow: 0 0 0 3px rgba(129, 183, 175, 0.3);
}
.select-country{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
input.valid, select.valid{
  border: 2px solid rgb(153, 223, 48);
}
input.invalid, select.invalid{
  border: 2px solid rgb(240, 61, 61);
}
/* Para el select country personalizado */
.custom-select-wrapper {
  position: relative;
  width: 100%;
}
.custom-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  padding: 10px;
  position: relative;
}
.custom-select::after{
  content: "▼";
  font-size: 0.6rem;
  color: #cbc8c8;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.selected-option {
  display: flex;
  align-items: center;
  gap: 8px;
}
.options-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  z-index: 100;
  display: none;
}

.custom-select.open .options-list {
  display: block;
  transform: translate(-11px, 13px);
}

.options-list li {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.options-list li:hover {
  background-color: #eee;
}
.fi {
  width: 20px;
  height: 15px;
}
.selected-option.placeholder span {
  color: rgb(200, 200, 200); 
  font-style: italic;
}
.selected-option span {
  color: #000; 
  font-style: normal;
}

